@tailwind base;
@tailwind components;
@tailwind utilities;


  .border-gradient {
    border-image: linear-gradient(to top, transparent, rgba(207, 159, 255), transparent) 1;
  }

  .image-container {
    overflow: hidden; 
    transition: transform 0.3s ease; 
    
  }
  
  .image-container img {
    transition: transform 0.3s ease; 
  }
  
  .image-container:hover img {
    transform: scale(1.1); 
  }
.card-1{
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card-2{
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-bottom: 10%;
}
  .card-1:hover{
    /* transition: transform 0.5s ease; 
    transform: scale(1.05); */
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
  .card-2:hover{
    /* transition: transform 0.5s ease; 
    transform: scale(1.05); */
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
   
  }
.dish-name{
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.front-house{
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.back-house{
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  .dish-name:hover{
    transition: transform 0.5s ease; 
    transform: scale(1.1);
  }

  .front-house:hover{
    transition: transform 0.5s ease; 
    transform: scale(1.1);
  }

  .back-house:hover{
    transition: transform 0.5s ease; 
    transform: scale(1.1);
  }
  


  

  /* .gradient-border-all {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #ff7e5f, #feb47b, #ffdc7e, #a5eb8d, #8ed2ff, #a584ff, #ff8ed7, #ff7e5f) 1;
  } */